{:paths ["src"]
 :deps {
        io.github.kotoba-lang/coll-postwalk
        {:git/url "https://github.com/kotoba-lang/coll-postwalk.git"
         :git/sha "f411a03b09cef16a70ef425fbf1177df0e2f860a"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
